.panel{
	border-radius: 0;
	border: 1px solid #ddd;
	height: 70vh;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #F9FAFA;
}

.panel-title, .activity-page-table-output th, .activity-page-table-output td{
	text-align: center;
}

.panel-heading{
	background-color: #DADFE1;
	border-radius: 0;
}

/**********useActivityModal.html****************/

.activity-modal-body{
	
}