.automated-table-output tr, .automated-table-output td{
	width: 50px;
	height: 50px;
}
.automated-table-vert-scroll{
	min-width: 50%;
	overflow-y: scroll;
	overflow-x: auto;
	height: 70vh;
}
/*
table{
	overflow-x: scroll;
}*/