.automated-table-output tr, .automated-table-output td{
	width: 50px;
	height: 50px;
	padding: 10px;
}

.automated-table-output td{
	/*margin-left: 100px;*/
	margin: 100px;
	/*margin-right: 4px;*/
}

.automated-table-vert-scroll{
	max-height: 60vh;
	overflow-y: auto;
	/*overflow-x: auto;*/
}
.table-responsive{
	overflow-x: auto;
}
.checkbox-big{
	width: 30px;
	height: 30px;
	text-align: center;
}

.automated-choose{
	/*width: 100%;*/
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.automated-choose-options{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.automated-choose-select{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0;
    height: 60vh;
	width: 100%;
	overflow: auto;
}

.automated-choose-select a{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #ccc;	
	min-height: 30%;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	/*justify-content: flex-start;*/
}

.automated-choose-select a *{
	width: 100%;
	margin: auto 0;
	text-align: left;
}

.automated-choose-select a > p{
	word-wrap: break-word;	
	width: 100%;
}

.automated-controls-panel, .automated-controls-select{
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
}

.modal-content{
	border-radius: 0;
}