@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100vh;
    padding-top: 20px;
    background-color: #fff;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover, a:focus, a:active{
	text-decoration: none;
	color: #333;
}

nav{
	height: 8%;
}

.nav-sidebar, .extend-bar{
	height: 97%;
	padding-top: 30px;
	position: fixed;
}

.navbar{
	margin: 0;
	border-radius: 0;
}

.navbar-automated-farming{
	background-color: #34a853;
	border: none;
	position: fixed;
	width: 100%;
	/*height: 15vh;*/
}

.navbar-brand{
	font-family: "Raleway", Arial,sans-serif;
}

.navbar-brand-a{
	color: #fff;
	font-weight: bold;
}

.navbar-brand-a:focus, .navbar-brand-a:hover{
	color: #ececec;
	cursor: pointer;
}

.nav-sidebar{
	opacity: 1;
	z-index: 1;
	display: flex;
	flex-direction: row;
	transition: all linear 0.1s;
	left: -32vh;
}

.nav-sidebar-container{
	width: 32vh;
	background-color: #fff;
	border-right: solid #bdbdbd 0.25px;
}

.nav-sidebar-container a{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.nav-sidebar-container a:hover{
	background-color: #ececec;
	color: #333;
	cursor: pointer;
}

.nav-sidebar-active, .nav-sidebar-active:visited{
	background-color: #e0e0e0;
	color: #333;
}

.show-bar{
	left: 0vh;
}

.extend-bar{
	width: 100%;
	background-color: rgb(0,0,0);
	/*position: absolute;*/
	opacity: 0.1;
	z-index: 1;
}

.user-view-section{
	display: flex;
	justify-content: center;
	width: 100%;
	/*margin-top: 10px;*/
	/*position: absolute;*/
}

.btn, .form-control{
	border-radius: 0;
}