.manual-div-gap{
	margin-bottom: 20px;
}

.btn.btn-manual{
	border: none;
	background-color: #fbbc05;
	color: #fff;
	border-radius: 50%;
	padding: 10px 14px;
}

.btn.btn-manual:hover{
	border: #333;
	color: #333;
	background-color: #e0e0e0;
	box-shadow: 0 2px 2px #ccc;
}