.row.content {height: 550px;}
    
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
        
@media screen and (max-width: 767px) {
	.row.content {height: auto;}
}