.row.content {height: 550px;}
    
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding-left: 30px;
        
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
}