
<div class="modal-content" ng-controller="addLotCtrl as $add">
    <div class="modal-header">
        <h3 class="modal-title text-center">Add Lot</h3>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <div class="col-xs-12">
            <label class="">Name</label>
            <input type="text" class="form-control" ng-model="$add.name">
        </div>
        <div class="col-xs-12">
            <label class="">Brgy.</label>
            <input type="text" class="form-control" ng-model="$add.brgy">
        </div>
        <div class="col-xs-12">
            <label class="">Town</label>
            <input type="text" class="form-control" ng-model="$add.town">
        </div>
        <div class="col-xs-12">
            <label class="">Province</label>
            <input type="text" class="form-control" ng-model="$add.province" placeholder="Optional">
        </div>
        <div class="col-xs-12">
            <label class="">Length</label>
            <input type="text" class="form-control" ng-model="$add.length">
        </div>
        <div class="col-xs-12">
            <label class="">Width</label>
            <input type="text" class="form-control" ng-model="$add.width">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$add.addLot()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>
