<div class="row col-md-6 col-xs-12 create-sched-wrapper">
	<h1>Schedule</h1>
	<div class="automated-crumbs">
		<a href="">Lots</a>
		<a href="">Schedule</a>
	</div>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-xs-4 col-md-3 control-label">Start Date</label>
			<input datetime-picker ng-model="event.start" class="col-xs-8 col-md-9 create-sched-input"	/>
		</div>
		<div class="form-group">
			<label class="col-xs-4 col-md-3 control-label">Type of Activity</label>
			<select ng-model="activity.type" class="create-sched-input col-xs-8 col-md-9">
				<option value="plow">Plow</option>
				<option value="seed">Seed</option>
				<option value="harvest">Harvest</option>
			</select>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-10 col-xs-2">
				<button class="btn btn-success glyphicon glyphicon-menu-right" ng-disabled="!event.start || !activity.type" ng-click="setEvent()"></button>
			</div>
		</div>
	</div>
</div>