<div class="row col-md-6 col-xs-12">
	<h1>Schedule</h1>
	<div class="automated-crumbs">
		<a href="">Lots</a>
		<a href="">Schedule</a>
	</div>
	<div class="form-horizontal"> 
		<div class="form-group col-xs-12">
			<label class="control-label">Start Date</label>
			<input datetime-picker ng-model="event.start" class="create-sched-input" />
		</div>
		<div class="form-group col-xs-12">
			<label class="control-label">Type of Activity</label>
			<select ng-model="activity.type" class="create-sched-input">
				<option value="plow">Plow</option>
				<option value="seed">Seed</option>
				<option value="harvest">Harvest</option>
			</select>
		</div>
		<div class="form-group col-xs-12">
			<div class="pull-right">
				<button class="btn btn-success glyphicon glyphicon-menu-right" ng-disabled="!event.start || !activity.type" ng-click="setEvent()"></button>
			</div>
		</div>
	</div>
</div>