<div class="row">
	<h1>Automated Control</h1>
	<p>Place the parameters.</p>
	
	<div class="form-inline automated-form-input">
		<label>Input land dimensions: </label>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="length" ng-model="length = 2" />
			<label> x </label>
			<input class="form-control" type="text" placeholder="width" ng-model="width = 2" />
		</div>
		<button class="btn btn-success" ng-click="computeDimensions(length, width)">Submit</button>
	</div>

	<div class="automated-form-output" ng-if="xAxis && yAxis">
		<div class="automated-controls-panel"></div>
		<div class="automated-table-vert-scroll table-resposive">
			<button class="btn btn-primary" ng-click="toggleSelectAll(true)">Select All</button>
			<button ng-disabled="!hasPath" class="btn btn-danger" ng-click="toggleSelectAll(false)">Deselect All</button>
			<button ng-disabled="!hasPath" class="btn btn-success">Submit Path</button>
			<table class="table-bordered automated-table-output" ng-if="axis.length > 0">
				<tr ng-repeat="x in xAxis">
					<td ng-repeat="y in yAxis">
						<input type="checkbox" class="checkbox-big" ng-model="axis[x][y]" ng-click="checkPath()"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>