<div class="row col-md-6 col-xs-12">
	<h1 class="page-header">Auto Pilot</h1>
	<button class="btn btn-primary" ng-click="startActivity(); disableButton = true" ng-disabled="pilotData.status == 'Ongoing'">Begin Activity</button>
	
	<div ng-if="pilotData.status">
		<h2>Status: {{pilotData.status}}</h2>
	</div>
	<div ng-if="pilotData.currentActivity">
		<h2>Activity: {{pilotData.currentActivity}}</h2>
	</div>
	<div ng-if="pilotData.currentLocation">
		<h2>Location:</h2>
		<p>{{pilotData.currentLocation}}</p>
	</div>
</div>
