<div class="row col-md-6 col-xs-12">
	<h1>Autopilot</h1>
	<p>Click the button to start.</p>
	<div class="autopilot-button">
		<button class="btn btn-success btn-lg" ng-click="startActivity(); disableButton = true" ng-disabled="pilotData.status == 'Ongoing'">Begin Activity</button>
	</div>
	<div class="autopilot-info-wrapper">
		<div ng-if="pilotData.status">
			<h3>Status: {{ pilotData.status }}</h3>
		</div>
		<div ng-if="pilotData.currentActivity">
			<h3>Activity: {{ pilotData.currentActivity }}</h3>
		</div>
		<div ng-if="pilotData.currentLocation">
			<h3>Location:</h3>
			<p>{{ pilotData.currentLocation }}</p>
		</div>
	</div>
</div>
