<div class="row col-md-6 col-xs-12 automated-choose">
	<h1 class="page-header">Automated Control</h1>
	<p>Add lot or choose from existing lots.</p>
	<div class="automated-choose-options">
		<span class="automated-choose-button" ng-controller="modalController as $ctrl">
			<button class="btn pull-right automated-plus-button" ng-click="$ctrl.open('addLotModal', activity)"><span class="glyphicon glyphicon-plus"></span></button>
		</span>
		<div class="automated-choose-select">
			<a ng-repeat="town in towns" ng-click="" class="btn automated-choose-options" ng-href="/#!/automated/schedule/{{town.id}}">
				<h3>{{town.name}}</h3>
				<p>{{town.address.split(',')[2]}}</p>
			</a>
		</div>
	</div>
</div>