<div class="row col-md-6 col-xs-12 create-sched-wrapper">
	<h1 class="page-header">Create Schedule</h1>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-xs-6 col-md-4 control-label">Start Date</label>
			<input class="col-xs-6 col-md-6 create-sched-input" type="date" />
		</div>
		<div class="form-group">
			<label class="col-xs-6 col-md-4 control-label">Start Time</label>
			<input class="col-xs-6 col-md-6 create-sched-input" type="time" />
		</div>
		<div class="form-group">
			<label class="col-xs-6 col-md-4 control-label">End Date</label>
			<input class="col-xs-6 col-md-6 create-sched-input" type="date" />
		</div>
		<div class="form-group">
			<label class="col-xs-6 col-md-4 control-label">End Time</label>
			<input class="col-xs-6 col-md-6 create-sched-input" type="time" />
		</div>
		<div class="form-group">
			<label class="col-xs-6 col-md-4 control-label">Type of Activity</label>
			<div class="col-xs-6 col-md-6">
				<select class="form-control">
					<option>Plow</option>
					<option>Seed</option>
					<option>Harvest</option>
				</select>
			</div>
		</div>
	</form>
</div>