<div class="row">
	<h1>Manual Control</h1>
	<p>Control your tractor manually.</p>
	<!-- <div class="row"> -->
		<div class="col-xs-12 text-center">
			<button class="btn btn-default btn-lg" on-long-press="buttonPressed('up')" on-touch-end="buttonReleased()" type="button"><span class="glyphicon glyphicon-arrow-up" ></span> Up</button>
		</div>
	<!-- </div> -->
	<!-- <div class="row"> -->
		<div class="col-xs-6 text-center">
			<button class="btn btn-default btn-lg"  on-long-press="buttonPressed('left')" on-touch-end="buttonReleased()" type="button"><span class="glyphicon glyphicon-arrow-left" ></span> Left</button>
		</div>
		<div class="col-xs-6 text-center">
			<button class="btn btn-default btn-lg"  on-long-press="buttonPressed('right')" on-touch-end="buttonReleased()" type="button"><span class="glyphicon glyphicon-arrow-right" ></span> Right</button>	
		</div>
	<!-- </div> -->
	<!-- <div class="row"> -->
		<div class="col-xs-12 text-center">
			<button class="btn btn-default btn-lg"  on-long-press="buttonPressed('down')" on-touch-end="buttonReleased()" type="button"><span class="glyphicon glyphicon-arrow-down" ></span> Down</button>
		</div>
	<!-- </div> -->
</div>
