<div class="row col-md-6 col-xs-12">
	<h1 class="page-header">Manual Control</h1>
	<p>Control your tractor manually.</p>
	<div class="col-xs-12 col-md-12 manual-div-gap text-center">
		<button class="btn btn-default btn-lg btn-manual" on-long-press="buttonPressed('up')" on-touch-end="buttonReleased()" type="button">
			<span class="glyphicon glyphicon-menu-up"></span>
		</button>
	</div>
	<div class="col-xs-6 col-md-6 text-center">
		<button class="btn btn-default btn-lg btn-manual" on-long-press="buttonPressed('left')" on-touch-end="buttonReleased()" type="button">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button>
	</div>
	<div class="col-xs-6 col-md-6 text-center">
		<button class="btn btn-default btn-lg btn-manual" on-long-press="buttonPressed('right')" on-touch-end="buttonReleased()" type="button">
			<span class="glyphicon glyphicon-menu-right"></span>
		</button>
	</div>
	<div class="col-xs-12 col-md-12 text-center">
		<button class="btn btn-default btn-lg btn-manual" on-long-press="buttonPressed('down')" on-touch-end="buttonReleased()" type="button">
			<span class="glyphicon glyphicon-menu-down"></span>
		</button>
	</div>
</div>
