<div class="modal-content" ng-controller="autoModalCtrl as $add">
	<div ng-init="$add.getComputations()"></div>
	<div ng-if="isLoading">
		<p>Loading...</p>
	</div>
    <div ng-if="!isLoading" class="modal-body">
    	<div class="form-group">
            <label class="control-label">Desired start time: </label>
        	<p>{{ event.start }}</p>
        </div>
        <div class="form-group">
            <label class="control-label">Expected end time: </label>
        	<p>{{ event.estimatedEndTime }}</p>
        </div>
        <div class="form-group">
        	<label class="control-label">Expected duration: </label>
        	<p>{{ event.estimatedDuration }} seconds</p>
        </div>
    	<p>Are you sure you wish to proceed with this activity?</p>
    </div>
    <div ng-if="!isLoading" class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$add.useActivity($ctrl)">Yes</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">No</button>
    </div>
</div>
